<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.liquid.control"
    android:sharedUserId="android.uid.system" >

    <original-package android:name="com.liquid.control" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo"
        android:uiOptions="none" >
        <activity
            android:name=".LiquidActivity"
            android:label="@string/app_name" >
            <intent-filter >
                <action android:name="android.liquid.CONTROL" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.UserInterface"
            android:label="Interface" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.Navbar"
            android:label="Navigation" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.Lockscreens"
            android:label="Lockscreens" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.PowerMenu"
            android:label="Powermenu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.PowerSaver"
            android:label="Powersaver" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.Led"
            android:label="Led Options" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.StatusBarGeneral"
            android:label="General" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.StatusBarClock"
            android:label="Clock" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.StatusBarToggles"
            android:label="Toggles" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.StatusBarBattery"
            android:label="Battery" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.StatusBarSignal"
            android:label="Signal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.Performance"
            android:clearTaskOnLaunch="true"
            android:label="Performance" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".tools.VoltageControl" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.PropModder"
            android:label="Propmodder" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".util.ShowBuildProp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="CreateShortcut"
            android:theme="@style/Theme.CreateShortCut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".service.BootReceiver"
            android:enabled="true" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".service.BootService" />
    </application>
</manifest>
