<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2012 The LiquidSmoothROMs Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:pluto="http://www.w3.org/2001/pluto.html"
    coreApp="true"
    package="com.liquid.control"
    android:sharedUserId="android.uid.system" >

    <original-package android:name="com.liquid.control" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo"
        android:uiOptions="none" >
        <activity
            android:name=".LiquidActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter >
                <action android:name="android.liquid.CONTROL" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.UserInterface"
            android:label="Interface" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.Navbar"
            android:label="Navigation" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.Lockscreens"
            android:label="Lockscreens" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.PowerMenu"
            android:label="Powermenu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.PowerSaver"
            android:label="Powersaver" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.StatusBarGeneral"
            android:label="General" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.StatusBarClock"
            android:label="Clock" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.StatusBarToggles"
            android:label="Toggles" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.StatusBarBattery"
            android:label="Battery" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.StatusBarSignal"
            android:label="Signal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.Performance"
            android:clearTaskOnLaunch="true"
            android:label="Performance" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".tools.VoltageControl" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.PropModder"
            android:label="Propmodder" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
   <receiver android:name="com.android.server.AppsLaunchFailureReceiver" >
            <intent-filter>
                <action android:name="com.tmobile.intent.action.APP_LAUNCH_FAILURE" />
                <action android:name="com.tmobile.intent.action.APP_LAUNCH_FAILURE_RESET" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="com.tmobile.intent.action.THEME_PACKAGE_UPDATED" />
                <category android:name="com.tmobile.intent.category.THEME_PACKAGE_INSTALL_STATE_CHANGE" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        </activity>
        <activity android:name=".fragments.BackupRestore"
            android:label="Backup Restore"
            android:configChanges="keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.About"
            android:label="About LiquidSmoothROMs" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.DynamicChangeLog"
            android:label="Dynamic ChangeLog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lsr.control.SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".installer.GooImSupport"
            android:label="goo.im Suppport" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".installer.OpenRecoveryScriptSupport"
            android:label="OpenRecoveryScript Support" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" android:host="*"
                    android:pathPattern=".*\\.zip" />
                <data android:scheme="file" android:host="*"
                    android:pathPattern=".*\\.zip" />
            </intent-filter>
        </activity>
        <activity android:name=".tools.FilePicker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".util.ShowBuildProp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="CreateShortcut"
            android:theme="@style/Theme.CreateShortCut">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".service.BootReceiver"
            android:enabled="true" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".service.BootService" />
    </application>
</manifest>
